
.register {
    border: 1px solid #0b6e4f;
    width: 50%;
}
.form-group{
    width: 100%;

}
@media only screen and (max-width:992px) {
    .register {
        width: 70%;
    }
  }
@media only screen and (max-width:560px) {
    .register {
        width: 80%;
    }
  }



