/* ---navbar common--- */
.white-text{
    color: #F3F9E3 !important;
}
.green-text{
    color: #0b6e4f !important;
}
.white-bg{
    background-color: #F3F9E3 !important;
}
.green-bg{
    background-color: #0b6e4f !important;
}
/* ---user drop down--- */
.user-info{
    background-image: url('../../assets/images/profile/person.jpg');
    background-position:center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.user-border{
    padding: 2px;
    border: 3px solid #F3F9E3;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    transition: all 0.2s ease-in;
}
.user-border:hover{
    border-color: #073B3A;
}

.dropdown-toggle::after {
    content: "" !important;
    opacity: 0 !important;
}
.dropdown-menu{
    background-color: #0b6e4f !important;
    border: 1px solid #F3F9E3 !important;
    right: 0 !important;
    left: auto !important;
    -webkit-box-shadow: 0px 0px 3px 1px #0b6e4f;
    -moz-box-shadow: 0px 0px 3px 1px #0b6e4f;
    box-shadow: 0px 0px 3px 1px #0b6e4f;
    margin-top: 15px !important;
}
.dropdown-divider{
    background-color: #F3F9E3 !important;
}
.dropdown-item{
    transition: all 0.2s ease-in !important;
}
.dropdown-item:hover {
    background-color: #F3F9E3 !important;
    color: #0b6e4f !important;
}

/* ---navlinks--- */
.offcanvas{
   width: 50% !important; 
}
.nav-link{
    transition: all 0.2s ease-in !important;
}
.nav-link:hover{
    color: #DDB771 !important;
}
.nav-link.active{
    color: #DDB771 !important;
}
.nav-btn{
    transition: all 0.2s ease-in !important;
}
.nav-btn:hover{
    background-color: #073B3A !important;
    color: #F3F9E3 !important;
}
